* {
    font-family: cursive;
}

body {
    margin: 0;
    padding: 0;
}

.logo img {
    width: 175px;
    height: 100px;
    padding: 2px;
    margin: 14px;
    opacity: 30;
}

.navigation li a {
    text-decoration: none;
    padding: 10px;
    margin: 12px;
    font-size: 20px
}

.navbar::before {
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 80%;
    z-index: -1;
    background: url('f.jpg') no-repeat center center/cover;
    opacity: 0.4;

}

.navigation li {
    list-style: none;
}

.navigation li a {
    color: black;
}

.navigation li a:hover {
    color: rgb(7, 0, 0);
    background-color: rgb(232, 230, 247);
    border-radius: 10px;
    box-shadow: 5px 5px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    /* position:relative;
    flex-direction:column; */
}

.btn button {
    border-radius: 12px;
    width: 200px;
    height: 25px;
    text-align: center;
    cursor: pointer;
    transition-delay: 0.2s;
}

.btn button:hover {
    scale: 1.1;

}

#se {
    width: 301px;
    height: 33px;
    text-align: center;
    border-radius: 12px;
    margin-bottom: 20px;
}

.inp {
    padding: 32px;
    margin: 20px;
}

.midpart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2 {
    /* display: block; */
    /* width: 200px; */
    /* margin: auto; */
    /* align-items: center; */
    /* padding: 15px; */
    font-size: 40px;
}


.mid {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: row; */


}

.box {
    border: 3px solid black;
    border-radius: 12px;
    width: 453px;
    height: 360px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    /* padding: px; */
    margin: 12px;
    background-color: beige;
    padding-top: 12px;
    transition-delay: 0.2s;
}

.box:hover {
    scale: 1.1
}

.box img {
    width: 214px;
    height: 174px;
}

.buttona {
    border-radius: 12px;
    /* color: antiquewhite; */
    background-color: antiquewhite;
}

.buttona:hover {
    color: black;
    background-color: rgb(9, 211, 242);
    scale: 1.2;
}

.box p {
    text-align: center;
}
.client{
    display: flex;
    justify-content: center;
    align-items: center;
}
.headz{
  display: flex;
  justify-content: center;
  align-items: center;

}
.imgs{
    width: 100px;
    height: 100px;
}
.client::before{
    content: '';
    position: absolute;
    background: url('background2.jpg') no-repeat center center/cover;
    width: 100%;
    height: 21%;
    z-index: -1;
    opacity: 0.6;
}
.form{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}
.form input{
    text-align: center;
    border-radius: 12px;
    width: 400px;
    margin: 13px;
    padding: 4px;
}
textarea{
    border-radius: 12px;
    width: 400px;
    margin: 13px;
    padding: 4px;
}
.bb{
    border-radius: 12px;
    width: 400px;
    margin: 13px;
    padding: 4px;

}
.bb:hover{
    color: deepskyblue;
    scale: 1.1;
    background-color: rgb(254, 244, 244);
}
.h2w{
    display: flex;
    justify-content: center;
    align-items: center;
}
.endlast{
    /* margin: auto; */
    /* width: 600px; */
    /* padding: 10px; */
display: flex;
justify-content: center;
align-items: center;
background-color: black;
color: aliceblue;
}
.end1::before{
    content: '';
    position: absolute;
    background: url('1322395.png') no-repeat center center/cover;
    width: 100%;
    height: 46.5%;
    z-index: -1;
    opacity: 0.6;
}
.navbar{
    display: flex;
    align-items: center;
    
}
.navigation{
    display: flex;
    padding: 2px;
}
.section1{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    flex-direction: row;
}

.section1::before{
    content: '';
    /* background-color: beige; */
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* opacity: 0.4; */
}